{% extends 'base.html' %}
{% block title %}Home-About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block pre_body %}
<ul>
<li>Technofania, an Inter-Departmental Technical Symposium, held under OSOC, runs over for 2 days, bringing in the indigenous minds of the Campus under one roof thereby giving a stiff competition.</li>

<li>It is a blend of both Technical and Non-technical events and the endeavours were rewarded with cash prizes.</li>

<li>Technofania bridges the gap between all the departments and builds a platform to communicate well among the same. It is not just a meet but 'Fun in the Run'.</li>
</ul>
{% endblock pre_body %}