{% extends 'base.html' %}
{% load static %}
{% block title %}Home Contact{% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block contact_body %}
<div class="container mb-3 py-4">
    <h1 class="my-2 text-center">Contact Us</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ current_name }}" placeholder="Enetr Your Name" aria-Describedby="name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ current_email }}" placeholder="Enetr Your Email" aria-Describedby="email">
        </div>
        <div class="form-group">
            <label for="phone">phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" value="{{ current_phone }}" placeholder="Enetr Your Phone Number">
        </div>

        <div class="form-group">
            <label for="desc">Describe me what you contact me for...</label>
            <textarea class="form-control" id="desc" name="desc" placeholder="Write here" cols="30" rows="5"></textarea>
        </div>
        <button input type="submit" class="btn btn-primary"  value="ok">Submit</button>
    </form>
    
</div>
{% endblock contact_body %}